/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #CC8C25;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #f5f5f5;
  min-width: 60px;
  text-align: center
}

.sidebar .logo-details .logo_name {
  color: #f5f5f5;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.sidebar .nav-links {
  margin-top: 10px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
  background: #996919;
}

.sidebar .nav-links li a:hover {
  background: #996919;
}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #f5f5f5;
}

.sidebar .nav-links li a .links_name {
  color: #f5f5f5;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.sidebar.active~.home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

.search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #ffad33;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 150px;
  padding: 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #333;
}

.home-section .home-content {
  position: relative;
  padding-top: 104px;
}

.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}

.overview-boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}

.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}

.home-content .box .indicator {
  display: flex;
  align-items: center;
}

.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}

.box .indicator i.down {
  background: #e87d88;
}

.home-content .box .indicator .text {
  font-size: 12px;
}

.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}

.home-content .box .cart.two {
  color: #2BD47D;
  background: #C0F2D8;
}

.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}

.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7;
}

.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}

.home-content .sales-boxes {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales {
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sales-boxes .box .title {
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.sales-boxes .sales-details li.topic {
  font-size: 20px;
  font-weight: 500;
}

.sales-boxes .sales-details li {
  list-style: none;
  margin: 8px 0;
}

.sales-boxes .sales-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}

.sales-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sales-boxes .box .button a {
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sales-boxes .box .button a:hover {
  background: #0d3073;
}

/* Right box */
.home-content .sales-boxes .top-sales {
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sales-boxes .top-sales li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.sales-boxes .top-sales li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}

.sales-boxes .top-sales li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sales-boxes .top-sales li .product,
.price {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section {
    left: 220px;
    width: calc(100% - 220px);
    overflow: hidden;
  }

  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }

  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}

@media (max-width: 700px) {

  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }

  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }

  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar.active~.home-section nav .profile-details {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }

  .sidebar.active {
    width: 60px;
  }

  .home-section {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section {
    left: 60px;
    width: calc(100% - 60px);
  }

  .home-section nav {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}

.home-content .header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
  background: rgb(255, 255, 255);
  padding: 15px 14px;
  height: 80px;
  border-radius: 12px;
  margin: 0 14px;
  transition: height 0.4s ease;
  overflow: hidden;
}

.home-content .active {
  height: 234px;
}

.home-content .header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav .action {
  display: flex;
  margin-right: 15px;
}

.nav .action .btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffad33;
  color: #fff;
  font-size: 26px;
  border-radius: 4px;
  margin: 5px;
}

.nav .action .btn:hover {
  cursor: pointer;
}

.nav .action .btn:active i {
  color: #000;
}

.filter .option {
  width: 25%;
  background-color: #f5f5f5;
}

.home-content .header .filter {
  margin-top: 15px;
  display: flex;
}

.home-content .header .filter .option {
  padding: 15px 14px;
}

.filter .option .title {
  text-align: center;
  background-color: #ffad33;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
}

.filter .option-list {
  padding: 5px 14px;
}

.filter .option-list .time,
.filter .option-list .date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.filter input,
.filter select {
  width: 80%;
  height: 26px;
  border-radius: 4px;
  border: none;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px;
}

.filter .option-list .price-range div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter .option-list .status,
.filter .option-list .sort {
  padding: 5px 0;
}

#paid,
#unpaid,
#bytime,
#byprice,
#byname {
  width: 100%;
  height: 26px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}

#paid:hover,
#unpaid:hover,
#bytime:hover,
#byprice:hover,
#byname:hover {
  cursor: pointer;
}

#paid:active,
#unpaid:active,
#bytime:active,
#byprice:active,
#byname:active {
  box-shadow: none;
  /* background-color: #ffad33; */
}

.home-content .order-list {
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px;
  background: rgb(255, 255, 255);
  padding: 15px 14px;
  border-radius: 12px;
  margin: 0 14px;
  margin-top: 15px;
}

.order-list table {
  width: 100%;
  border-collapse: collapse;
}

.order-list table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.order-list table td,
.order-list table th {
  padding: 0 14px;
  border-radius: 4px;
}

.order-list table td a {
  text-decoration: none;
  color: #000;
}

table tbody tr:hover {
  background-color: rgba(255,173,51,0.5);
}

.order-list thead {
  text-align: left;
}

.order-list thead th {
  height: 48px;
}

.order-list tbody td {
  height: 60px;
}

.status-paid {
  background-color: rgba(0, 255, 0, 0.1);
  color: green;
  padding: 2px 6px;
  border-radius: 4px;
}

.status-unpaid {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
  padding: 2px 6px;
  border-radius: 4px;
}

tbody i {
  padding: 2px;
  font-size: 20px;
  position: relative;
}

.tooltip {
  visibility: hidden;
  background-color: #f5f5f5;
  color: #000;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  padding: 2px 4px;
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translate(-50%);
  z-index: 1;
}

.bxs-edit-alt:hover,
.bxs-detail:hover,
.bxs-trash:hover,
.bxs-user-x:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.bxs-edit-alt:hover .tooltip,
.bxs-detail:hover .tooltip,
.bxs-trash:hover .tooltip,
.bxs-user-x:hover .tooltip {
  visibility: visible;
}

.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .page {
  text-align: center;
}

.footer .page button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}

.footer .page button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.footer .page .current-page {
  background-color: #ffad33;
  color: #fff;
}

.home-content.order-detail .box,
.home-content.product .box,
.home-content.user .box,
.home-content.statistical .box {
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px;
  background: rgb(255, 255, 255);
  padding: 15px 14px;
  border-radius: 12px;
  margin: 0 14px;
  margin-top: 15px;
}

.home-content .info {
  width: 100%;
  display: flex;
}

.order-info,
.customer-info {
  width: 50%;
}

.info table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.order-detail table caption {
  background-color: #ffad33;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  font-weight: bold;
}

.info tbody td,
.info tbody th {
  height: 50px;
  padding: 0 14px;
}

table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.home-content.order-detail .box.product-list {
  margin: 15px 14px;
}

.order-detail .product-list table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.product-img {
  display: block;
  margin: 15px auto;
  width: 80px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.order-detail .product-list table thead th {
  height: 60px;
}

.order-detail .product-list table thead th,
.order-detail .product-list table tbody td {
  padding: 0 14px;
}

.option-list form {
  padding: 5px 0;
}

#category {
  width: 100%;
}

.product .product-list table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.product .product-list table td {
  height: 60px;
  padding: 0 14px;
}

.product .product-list table th {
  height: 48px;
  padding: 0 14px;
}

.product .product-list table i {
  padding: 2px;
  font-size: 20px;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  width: 40%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}

.modal-content .header h2 {
  text-align: center;
  color: #fff;
  background-color: #ffad33;
  padding: 0.2rem;
  border-radius: 5px;
}

.modal-content .container {
  padding: 1rem 0.5rem;
}

.modal-content .container input,
.modal-content .container textarea,
.modal-content .container select {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-content .footer {
  height: auto;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 0.5rem;
}

.modal button {
  background-color: #ffad33;
  border: none;
  width: 5rem;
  height: 2.5rem;
  font-size: 16px;
  color: #fff;
}

.modal button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal-content .cancel,
.modal.product-delete .cancel-deletion {
  background-color: rgba(255, 0, 0, 0.75);
}

.modal-content .done,
.modal.product-delete .confirm {
  background-color: rgba(0, 155, 0, 0.75);
}

.animate {
  animation: zoom 0.4s ease;
  -webkit-animation: zoom 0.4s ease;
}

@keyframes zoom {
  from {transform: scale(0.4);}
  to {transform: scale(1);}
}

@-webkit-keyframes zoom {
  from {transform: scale(0.4);}
  to {transform: scale(1);}
}

.modal {
  justify-content: center;
  align-items: center;
}

.modal.product-detail .container {
  width: 40%;
  background-color: #fff;
  text-align: center;
  padding: 1rem;
}

.modal.product-detail .container .product-img {
  width: 200px;
  height: 250px;
}

.modal.product-detail .container h4 {
  margin-top: 2rem;
}

.modal.product-detail .footer {
  height: auto;
  padding: 2rem 0;
}

.modal .close {
  background-color: rgba(255, 0, 0, 0.75);
  border: none;
  width: 5rem;
  height: 2.5rem;
  font-size: 16px;
  color: #fff;
}

.close:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal.product-delete .container {
  background-color: #f5f5f5;
  padding: 2rem 2rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}

.modal.product-delete .container .action {
  margin-top: 1.5rem;
}

.modal.product-delete .container .action button {
  margin: 0 1rem;
}

.text-left {
  text-align: left;
}

.user .option-list form input,
.user .option-list form select {
  width: 100%;
}

.home-content.user .active {
  height: 198px;
}

.user-list table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.user-list thead th {
  height: 48px;
  padding: 0 20px;
}

.user-list tbody td {
  height: 60px;
  padding: 0 20px;
}

.user-list .email {
  color: #888;
  font-size: 14px;
}

.user-form form,
.order-form form {
  width: 30%;
}

.from {
  padding-bottom: 5px;
}

.to {
  padding-top: 5px;
}

.statistical-list table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.statistical-list thead th {
  height: 48px;
  padding: 0 20px;
}

.statistical-list tbody td {
  height: 60px;
  padding: 0 20px;
}