.cart_quantity {
	margin-top: 0;
	margin-bottom: 2rem;
}

.cart_quantity_input {
	text-align: center;
	height: 30px !important;
	width: 10%;
	margin: 0 5px;
}

.cart_product_remove a {
	bordeR: 1px solid rgba(0, 0, 0, 0.1);
	padding: 4px 10px;
	color: #000000;
}

.cart_product_remove a:hover {
	border: 1px solid #ffad33;
	background: #ffad33;
}

.proceed_to_checkout {
	text-align: center;
}

.important {
	color: red;
}

.note {
	height: 72px !important;
}

.title {
	color: #ffad33;
}

.contact_form_input {
	height: 36px !important;
}

.contact_info {
	margin-bottom: 0.2rem;
}

/* ffad33 */
footer {
	padding: 2rem 3rem;
	background-color: #ffad33;
	margin: 0 12%;
}

.Our_social_media {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.Our_social_media i {
	font-size: 30px;
	margin: 0 0.5rem;
}

.more_info {
	margin: 0 5rem;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

footer p {
	text-align: center;
	color: #000000;
	margin: 0;
}

footer a {
	color: #000000;
}

footer a:visited {
	color: #000000;
}

footer a:hover {
	color: #fff;
}